fastapi
ffmpeg-python
google-generativeai
langchain
langchain-community
langchain-openai
langchain-pinecone>=0.2.0
openai-whisper
pinecone>=4.0.0
pydub
pypdf
python-dotenv
streamlit
uvicorn
requests
beautifulsoup4
langchain-google-genai==2.0.10
python-docx
