fastapi
ffmpeg-python
google-generativeai
langchain
langchain-community
langchain-openai
openai-whisper
pinecone>=4.0.0,<6.0.0
pydub
pypdf
python-dotenv
streamlit
uvicorn
requests
beautifulsoup4
langchain-google-genai==2.0.10
python-docx
